<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Footer.css">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <footer class=" w-full  dark:bg-black">
        <div class="container p-6 mx-auto">
            <div class="lg:flex items-center">
                <div class="w-full -mx-6 lg:w-2/5 items-center">
                    <div class="px-6">
                        <a href="#">
                            <img class="w-56" src="img/Huawei Logo.png" alt="">
                        </a>

                        <p class="max-w-sm mt-2 text-white ml-7">Business Tag line Which one is i don’t know at this
                            time</p>

                        <div class="flex mt-6 -mx-2 ml-7 items-center">
                            <a href="#" class="mx-2 text-white hover:text-yellow-500" aria-label="Reddit">
                                <img class="w-8 fill-current" src="img/YouTube.png" alt="">
                            </a>

                            <a href="#" class="mx-2 text-white hover:text-yellow-500" aria-label="Facebook">
                                <img class="w-8 fill-current" src="img/Instagram.webp" alt="">
                            </a>

                            <a href="#" class="mx-2 text-white hover:text-yellow-500" aria-label="Github">
                                <img class="w-8 fill-current" src="img/LinkedIn.png" alt="">
                            </a>

                            <a href="#" class="mx-2 text-white hover:text-yellow-500" aria-label="Reddit">
                                <img class="w-8 fill-current" src="img/Facebook.png" alt="">
                            </a>

                            <a href="#" class="mx-2 text-white hover:text-yellow-500" aria-label="Facebook">
                                <img class="w-8 fill-current" src="img/TwitterX.png" alt="">
                            </a>
                        </div>
                        <div class="text-white mt-2 ml-7">
                            <p>Gmail Id: - unknown123@Buisnessname.com</p>
                            <p>Contact No: - 741258XXXX, 741258XXXX</p>
                        </div>
                    </div>
                </div>

                <div class="mt-6 lg:mt-0 lg:flex-1 2xl:ml-80">
                    <div class="grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                        <h3 class="text-white text-2xl">Our Store</h3>
                        <div class="rounded-3xl overflow-hidden h-52 md:h-4/5"><iframe class="rounded-3xl"
                                src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d586.8157200607328!2d75.91123063711883!3d22.71171490481396!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962e3ea65c6def9%3A0xf2471442f8705c1d!2sJhamb%20House!5e1!3m2!1sen!2sin!4v1706087998554!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        <p class="text-white xl:w-3/5 2xl:w-full">Address: 557, A.M, Scheme No. 140, near Mask Hospital,
                            Indore, Madhya Pradesh 452016, India Learn more, Indore, India, 452016</p>
                    </div>
                </div>
            </div>

            <ul class="flex w-full justify-center items-center mt-6">
                <li>
                    <a href="#" class="text-white mx-4" aria-current="page">Home</a>
                </li>
                <div class="h-8 bg-white w-[1px]"></div>
                <li>
                    <a href="#" class="text-white mx-4">About Us</a>
                </li>
                <div class="h-8 bg-white w-[1px]"></div>
                <li>
                    <a href="#" class="text-white mx-4">Contact Us</a>
                </li>
                <div class="h-8 bg-white w-[1px]"></div>
                <li>
                    <a href="#" class="text-white mx-4">Help</a>
                </li>
            </ul>

            <hr class="h-px my-6 bg-gray-200 border-none dark:bg-gray-700">

            <div>
                <p class="text-center text-white">SAROVI Software Solution</p>
            </div>
        </div>
    </footer>
</body>

</html>