<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/SignUp.css">
</head>

<body>
    <div class="flex w-screen h-screen items-center justify-center ">
        <div
            class=" flex lg:w-3/4 lg:h-5/6 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.4)] rounded-3xl m-auto overflow-hidden">
            <img class="hidden lg:w-6/12 lg:block" src="img/LogIn.png" alt="">
            <div class="flex lg:w-6/12 items-center">
                <form action="" class="p-10 lg:ml-12 lg:w-11/12">
                    <p class="text-2xl font-bold">Create Account</p><br><br>
                    <div class="w-full items-center hidden lg:block">
                        <div>
                            <label class="" for="name">Full Name:</label><br>
                            <input class="w-full border-none bg-slate-100 px-10 py-3 rounded-md " type="name" name="name" id="name" placeholder="Full Name">
                        </div>

                        <div>
                            <label class="" for="email">Email Id:</label><br>
                            <input class="w-full border-none bg-slate-100 px-10 py-3 rounded-md " type="email" name="email" id="email" placeholder="Email Id">
                        </div>

                        <div>
                            <label class="" for="password">Password:</label><br>
                            <input class="w-full border-none bg-slate-100 px-10 py-3 rounded-md " type="password" name="password" id="password" placeholder="Phone No.">
                        </div>

                        <div>
                            <label class="" for="phone">Phone No:</label><br>
                            <input class="w-full border-none bg-slate-100 px-10 py-3 rounded-md " type="phone" name="phone" id="phone" placeholder="password">
                        </div>

                        <div>
                            <label class="" for="age">Age:</label><br>
                            <input class="w-full border-none bg-slate-100 px-10 py-3 rounded-md " type="age" name="age" id="age" placeholder="Age">
                        </div>
                    </div>
                    <div class="flex items-center lg:hidden">
                        <div class="w-44">
                            <label for="name">Full Name</label><br><br><br>
                            <label for="email">Email Id</label><br><br><br>
                            <label for="password">Password</label><br><br><br>
                            <label for="phone">Phone No</label><br><br><br>
                            <label for="age">Age</label>
                        </div>
                        <div>
                            <input class="border-none bg-slate-100 px-10 py-3 rounded-md w-8/12" type="name" name="name" id="name" placeholder="Full Name"><br><br>
                            <input class="border-none bg-slate-100 px-10 py-3 rounded-md w-8/12" type="email" name="email" id="email" placeholder="Email Id"><br><br>
                            <input class="border-none bg-slate-100 px-10 py-3 rounded-md w-8/12" type="password" name="password" id="password" placeholder="Phone No."><br><br>
                            <input class="border-none bg-slate-100 px-10 py-3 rounded-md w-8/12" type="phone" name="phone" id="phone" placeholder="password"><br><br>
                            <input class="border-none bg-slate-100 px-10 py-3 rounded-md w-8/12" type="age" name="age" id="age" placeholder="Age">
                        </div>
                    </div>
                    <div class="flex mt-2">
                        <input type="checkbox" name="" id="">
                        <p class="ml-2">I Agree All Statement In Terms Of Services</p>
                    </div><br>
                    <div>
                        <label class="bg-black text-white p-2 rounded-md cursor-pointer hover:bg-slate-900" for="submit">Create account</label>
                        <input class="hidden" type="submit" name="submit" id="submit">
                    </div>
                    <div class="w-full text-center">
                        <div class="inline-flex items-center justify-center w-full">
                            <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                            <span class="font-semibold px-2">or</span>
                            <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                        </div>
                        <p>Sign up with these services</p>
                        <div class="flex justify-center">
                            <a class="px-2" href="#"><img class="w-6" src="img/Google.png" alt=""></a>
                            <a class="px-2" href="#"><img class="w-6" src="img/Facebook.png" alt=""></a>
                            <a class="px-2" href="#"><img class="w-6" src="img/TwitterX.png" alt=""></a>
                        </div><br>
                        <p class="text-[10px]">I'm already a member! Sign in</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>